.home-header {
  position: fixed;
  top: 0;
}

.home-category-products-container {
  display: flex;
  margin-top: 30px;
}

.home-categories {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.home-products {
  width: 100%;
}

.home-category-btn {
  border: none;
  padding: 5px 0;
}

.home-category-btn:hover {
  background-color: white;
  border-bottom: 1px solid rgb(208, 199, 199);
  border-top: 1px solid rgb(208, 199, 199);
  font-size: 12px;
}
